.main-form{
padding: 50px 40px;
background-color: #525252;
}
.main-form .main-title{
    margin-bottom:50px;
}
.main-form .main-input{
    margin-bottom: 20px;
}
.main-form .main-input:last-of-type{
    margin-bottom: 40px;
}


@media (min-width: 250px) and (max-width: 951px){
    .main-form{
        width: 900px;
        padding-left: 1.66rem;
        padding-right: 1.66rem;
    }
} 