.main-banner{
     background-image: url(../../assets/img/Cainã-Vitor.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: auto;
     height: 70rem;
     border-bottom: 10px solid #000000;
     
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column; 
    width: 640px ;
}
.main-banner .main-box{
    margin-bottom: 40px;
    margin-top: 115px;
    margin-left: 90px;
}
.main-banner .navigation{
    display: flex ;
    justify-content: space-evenly;
}

@media (min-width: 250px) and (max-width: 426px){
    .main-banner .main-box{
        display: block;
        margin-bottom: 40px;
        margin-top: 115px;
        margin-left: 0;
    } 
}

@media (max-width: 321px) {

    .main-banner{
        background-image: url(../../assets/img/banner-mobile.jpg);
        width: 370px;
        align-items: center;
        overflow-x: hidden;
    }
}

@media (min-width: 321px) and (max-width: 376px) {

    .main-banner{
        background-image: url(../../assets/img/banner-mobile.jpg);
        width: 370px;
        align-items: center;
        overflow-x: hidden;
    }
}

