.section{
    background-color: #9932cc;
    border-bottom: 10px solid #191970;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section .main-title{
    margin-bottom: 100px;
}
.section.-bgblack{
    background-color: #000;
    border-bottom: 10px solid #191970;
}

@media (min-width: 250px) and (max-width: 426px) {

    .section{
        width: 900px;
        overflow-x: hidden;
        padding-left: 1.65rem;
        padding-right: 1.65rem;
    }
}