.section{
    background-color: #9932cc;
    border-bottom: 10px solid #191970;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section .main-title{
    margin-bottom: 100px;
}
.section.-bgblack{
    background-color: #000;
    border-bottom: 10px solid #191970;
}

@media (min-width: 300px) and (max-width: 950px) {

    .section{
        width: 100%;
        overflow-x: hidden;
        padding-right: 3.3rem;
    }
}