.thanks-title{
    display: block;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: darkorchid; 
    text-shadow:5px 5px 0px #000000;
}


@media (min-width:2000px) and (max-width:3542px) {
    .thanks-title{
        font-size: 5rem;
        text-shadow: 10px 10px 0px #000;
    }
    .thanks-subtitle{
        font-size: 2.5rem;
        line-height: 3rem;
        text-shadow: 10px 10px 0px #000;
    }
}